---
layout: archive
---

{{ content }}
<div>
  <h2 class="archive__subtitle">
  <!--<h2>-->
    <!--{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}-->
    About me
  </h2>
  <p>
    I am a data scientist who excels at machine learning, exploratory analysis, and data visualization.
  </p>
  <p>
    I hold a bachelor's degree in mathematics from the University of California, Santa Barbara and a Master's degree in Data Science from the University of San Francisco.
  </p>
</div>

<!--{% for post in paginator.posts %}-->
  <!--{% include archive-single.html %}-->
<!--{% endfor %}-->

<!--{% include paginator.html %}-->
